version: '3.8'

services:
  db:
    image: postgres
    ports:
      - ${DB_PORT}:${DB_PORT}
    expose:
      - ${DB_PORT}
    env_file: ".env"
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_DB=${DB_NAME}

  web:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    image: assigne-api-web:latest
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file: ".env"
    environment:
      - DATABASE_URL=${DATABASE_URL}
    depends_on:
      - db

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:latest
    env_file: ".env"
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PASS}
    ports:
      - 5050:80
    depends_on:
      - db
